.profile-div{
  width: auto;  
  text-align: center;  
  padding: 15px;
}
.profile-div img{
  border-radius: 10px;
  width: 340px;
}
.main-component{
  margin-top:-10px;
  
}
.personal-info{
  text-align: center;
}
.more-info{
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
  color: white;
}
.more-info p{
  color: #DCDCDC;
  margin-top: -20px;
}
.main-component h2{
  color: #fff;
}
.main-component h4{
  color: #F3BF99;
  margin: 0px;
  line-height: 0px;
}
.main-component a{
  color: #F5F5F5;
  text-decoration: none;
  margin: 0px;
}
.main-component a:hover{
  text-decoration: underline;
}
button{
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 140px;
  height: 30px;
  font-size: 15px;
}
.email-btn{
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.email-btn:hover{
  background-color: #c71610;
  color: black;
}
.email-btn a{
  color: black;
}
.email-btn a:hover{
  text-decoration: none;
}
.email-btn img{
  width: 20px;
  margin-right: 10px;
  align-items: center;
}
.linkedin-btn{
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
.linkedin-btn:hover{
  background-color: #0165E1;
  color: #fff;
}
.linkedin-btn a{
  color: black;
  text-decoration: none;
}
.linkedin-btn a:hover{
  text-decoration: none;
}
.linkedin-btn img{
  width: 20px;
  margin-right: 10px;
}

.footer-component{
  background-color: #161619;
  text-align: center;
}
.footer-component button{
  height: 30px;
  width: 30px;
  margin: 10px;
  margin-top: 10px;
  padding: 0px;
  
}
.footer-component img{
  margin-top: 2.7px;
  height: 20px;
  width: 20px;
}
.footer-component button:hover{
  background-color:  yellow;
}